services:
  app:
    build:
      context: .
      target: production
    restart: unless-stopped
    env_file: ./.env
    environment:
      - NODE_ENV=production
    # Раскомментируйте для hot-reload в development:
    # volumes:
    #   - ./src:/app/src
    container_name: bercar-app
    expose:
      - "3000"
    stdin_open: true
    tty: true
    networks:
      - shared_net
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - shared_net
    depends_on:
      - app

volumes:
  caddy_data:
  caddy_config:

networks:
  shared_net:
    external: true
